{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
{% if prform.errors %}
        {% for field in prform %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in prform.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}


    <form style="text-align: center" action="" method="post" enctype="multipart/form-data">
        <div>

            {% csrf_token %}
            {{ form|crispy }}
            {{ prform|crispy }}

        </div>
        <div class="modal-footer">
            <button href="{% url 'my-advertise' %}" type="button" class="btn btn-secondary" data-dismiss="modal">Close
            </button>
            <button type="submit" class="btn btn-primary">Confirm!</button>
        </div>
    </form>


{% endblock content %}